.sidebar{
    margin: 0;
    padding: 0;
    background-color: #181c2e;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar div{
    background-image: url('../../assets//cover.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    background-color: #181c2e;
}

.sidebar div{
    padding-top: 30px;
}

.sidebar div img{
    width: 90px;
    height: 90px;
    display: block;
    margin: auto;
    border-radius: 50%;
    object-fit: cover;
    filter: drop-shadow(2px 3px 6px #122121);
    -webkit-filter: drop-shadow(2px 3px 6px #122121);
}